/*Стилизация Fotter*/
.footer {
  background-color: #2f303a;
}

.logo-white {
  color: #ffffff;
}
.logo-blue {
  color: $accent-text-color;
}

.footer-ad-items {
  a {
    text-decoration: none;
  }
  margin-top: 20px;
}

.street-adress,
.contact-adress {
  display: block;
  color: $back-button-color;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-adress {
  padding-top: 8px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts {
  color: rgba(0, 150, 255, 06);
  font-style: normal;
  font-size: 14px;
}

.footer-text {
  display: inline-block;
  color: $text-button;
  text-transform: uppercase;
}

.footer-svg {
  fill: $text-button;
}
.footer-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-send-svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
  fill: $text-button;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  color: $back-button-color;
  padding-left: 12px;

  border-style: none;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  &::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 1.25;

    display: -webkit-box;

    display: flex;
    -webkit-box-align: center;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  &::-moz-placeholder {
    font-size: 16px;
    line-height: 1.25;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  &:-ms-input-placeholder {
    font-size: 16px;
    line-height: 1.25;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  &::-ms-input-placeholder {
    font-size: 16px;
    line-height: 1.25;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}

.buttton-icon-send .button {
  margin-top: 0px;
  margin-left: 12px;
}

@media screen and (max-width: 479px) {
  .footer-form-input {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .footer-list {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-social-link {
    margin-top: 60px;
  }
  .footer-social-link .social-list {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .footer-mail {
    text-align: center;
    padding-bottom: 60px;
  }
  .footer-form-field {
    margin-top: 20px;
  }
  .buttton-icon-send .button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-form-input {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer {
    padding-bottom: 60px;
  }
  .footer-ad-list {
    text-align: center;
    margin-left: 76px;
    margin-top: 60px;
  }
  .footer-ad-list ~ .footer-social-link {
    text-align: center;
    margin-left: 165px;
    margin-top: 65px;
  }
  .footer-mail {
    margin-top: 60px;
  }
  .footer-mail {
    text-align: center;
  }
  .footer-form-input {
    margin-top: 20px;
    width: 450px;
  }
  .buttton-icon-send .button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-ad-list {
    text-align: left;
    margin-left: 0px;
  }
  .footer-form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-mail {
    text-align: left;
    margin-left: 93px;
  }
  .footer-form-input {
    width: 358px;
  }
  .footer-ad-list ~ .footer-social-link {
    text-align: left;
    margin-left: 70px;
  }
}
