.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  .link {
    position: relative;
    padding-top: 31px;
    padding-bottom: 31px;
    color: $title-text-color;
  }

  .current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $accent-text-color;
  }

  .link:hover,
  .link:focus {
    color: $accent-text-color;
  }

  .link.current {
    color: $accent-text-color;
  }
}
.header-thumb {
  border-bottom: 1px solid #ececec;
}

.menu-wrapper.is-open {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .site-nav {
    text-align: center;
    font-size: 18px;
    line-height: 1.17;

    .link {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .menu-wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    transform: translateY(-100%);

    background: $text-button;
  }

  .site-nav li:not(:last-child) {
    margin-bottom: 40px;
  }

  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 200;
  }

  .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0;
    height: 40px;
    width: 40px;
    border: none;

    z-index: 100;

    &.is-open {
      .icon-close {
        display: block;
      }
      .icon-burger {
        display: none;
      }
    }
  }

  .menu-btn-svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-close {
    display: none;
  }

  .menu-wrapper.is-open {
    display: block;
    transform: translateY(0.2%);
    transition: transform 500ms linear;
  }
  .link {
    position: relative;
    display: inline-block;

    -webkit-transition-duration: 250ms;

    -o-transition-duration: 250ms;

    transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-utils {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .page-header {
    display: flex;
    align-items: center;
  }

  .site-nav {
    display: flex;
    align-items: center;

    li:not(:last-child) {
      margin-right: 50px;
    }
  }

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
}
