/*Оформление адреса*/

.head-address {
  &-icon {
    fill: $primary-text-color;
  }
}

.head-address-button {
  display: block;
  border: none;
  background-color: transparent;
  color: $primary-text-color;
  border-style: none;
  padding: unset;
  cursor: pointer;
  outline: none;

  -webkit-transition-duration: 250ms;

  -o-transition-duration: 250ms;

  transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $accent-text-color;
    fill: $accent-text-color;
  }
  &:hover .head-address-icon {
    fill: $accent-text-color;
  }
}

@media screen and (max-width: 767px) {
  .head-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &-icon {
      width: 16px;
      height: 12px;
      margin-right: 10px;
    }

    .head-address-button {
      font-size: 18px;
      line-height: 1.166;
    }
  }
  .head-address-button:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .head-address-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 12px;
    line-height: 1.166;
  }
  .head-address {
    &-icon {
      width: 14px;
      height: 10px;
      margin-right: 8px;
    }
  }
  .header-utils {
    margin-left: 84px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .head-address-button:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .head-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    &-icon {
      width: 16px;
      height: 12px;
      margin-right: 10px;
    }
  }

  .head-address-button {
    font-size: 14px;
    line-height: 1.142;
  }

  .head-address-button:not(:last-child) {
    margin-right: 30px;
  }
  .header-utils {
    margin-left: 305px;
  }
}
