/*Оформление секции Hero*/
.hero {
  color: $text-button;

  background-color: grey;
  background-image: -o-linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../images/hero.jpg);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  &-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
  .hero-container {
    text-align: center;
    padding-top: 200px;
    padding-left: 252px;
    padding-right: 252px;
    padding-bottom: 200px;
  }
}
@media screen and (max-width: 1199px) {
  .hero-container {
    text-align: center;
    padding-top: 118px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
