/*Оформление секции Наше преимущество*/
.advantage {
  // padding-top: 94px;
}

.advantage-list {
  // display: -webkit-box;
  // display: -ms-flexbox;
  // display: flex;

  h3 {
    padding-top: 30px;
  }

  p {
    padding-top: 10px;
  }
}

.container .card {
  margin-right: 30px;
}
.hide-title {
  display: none;
}
.section-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: $title-text-color;
}
.section-text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  // margin-right: 30px;
}

.icon-card {
  // width: 270px;
  height: 120px;
  border-radius: 4px;
  padding: 25px 100px;
  background-color: #f5f4fa;

  .icon {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 767px) {
  .advantage {
    padding-top: 60px;
  }
  .icon-card {
    width: 450px;
    text-align: center;
  }
  .section-title {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .icon-card {
    width: 100%;
  }
}
