/*Оформление секции Наша команда*/
.our-team-card {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;

  font-size: 16px;
}

.team-section {
  background-color: #f5f4fa;
  text-align: center;
}

.our-team {
  h3 {
    margin-top: 30px;
  }

  p {
    margin-top: 10px;
  }
}

.team-member {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.team-work {
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (max-width: 767px) {
  .team-section .work-title {
    font-size: 28px;
    line-height: 1.178;
    letter-spacing: 0.03em;
    padding-top: 60px;
  }
  .team-section {
    padding-bottom: 60px;
  }
  .our-team-card {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-section .work-title {
    padding-top: 60px;
  }
  .team-section {
    padding-bottom: 60px;
  }
  .our-team {
    display: flex;
    flex-wrap: wrap;
  }
  .our-team-card {
    width: 354px;
  }
  .our-team-card:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .our-team-card {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section .work-title {
    padding-top: 94px;
  }
  .team-section {
    padding-bottom: 94px;
  }
  .our-team {
    margin-top: 50px;
  }
  .our-team-card {
    width: 270px;
    margin-top: 0;
  }
  .our-team-card:not(:last-child) {
    margin-right: 30px;
  }
}
