/*Оформление секции Наша команда*/
.our-team-card {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-section {
  background-color: #f5f4fa;
  text-align: center;
  padding-bottom: 94px;
}

.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  h3 {
    margin-top: 30px;
  }

  p {
    margin-top: 10px;
  }
}

.team-member {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.team-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-work {
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding-right: 24px;
  padding-left: 24px;
}
