/*Стилизация секции Постоянные клиенты*/
.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
  text-align: center;
  .box {
    margin-top: 30px;
  }
}
.client .work-title {
  font-size: 28px;
  line-height: 1.178;
  margin-top: 60px;
}

.box .box-link {
  display: block;
  width: 210px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding-top: 20px;

  -webkit-transition-duration: 250ms;

  -o-transition-duration: 250ms;

  transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.box .box-link:hover,
.box .box-link:focus {
  border-color: $accent-text-color;
}

.box:not(:last-child) {
  // margin-right: 30px;
}

.box-link-svg {
  fill: #afb1b8;

  -webkit-transition-duration: 250ms;

  -o-transition-duration: 250ms;

  transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.first-logo {
  width: 45px;
  height: 49px;
}
.second-logo {
  width: 40px;
  height: 52px;
}
.third-logo {
  width: 45px;
  height: 49px;
}
.fourth-logo {
  width: 80px;
  height: 42px;
}
.fifth-logo {
  width: 59px;
  height: 47px;
}
.sixth-logo {
  width: 89px;
  height: 46px;
}

.box-link:hover .box-link-svg {
  fill: $accent-text-color;
}

@media screen and (max-width: 479px) {
  .client-list {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 480px) {
  .client-list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .client-list .box:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .box .box-link {
    width: 226px;
  }
  .client-list .box {
    margin-right: 30px;
  }
  .client-list .box:nth-child(3n) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .client .work-title {
    margin-top: 94px;
  }
  .box .box-link {
    width: 170px;
  }
  .client-list .box:not(:last-child) {
    margin-right: 30px;
  }
  .client-list {
    padding-bottom: 94px;
  }
}
