.logo-nav {
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: $title-text-color;
  position: relative;
  z-index: 200;
}
.logo-part {
  color: $accent-text-color;
}

@media screen and (max-width: 768px) {
  .logo-nav {
    font-size: 24px;
    line-height: 1.167;
    padding-bottom: 26px;
    padding-top: 26px;
  }
}

@media screen and (max-width: 480px) {
  .logo-nav {
    padding-bottom: 16px;
    padding-top: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-nav {
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 1.19;
  }
}
